<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/doRegister" method="post">
        Name <input type="text" name="txtName" id="">
        {{error.name}}
        <br>
        Password <input type="password" name="txtPassword" id="">
        {{error.password}}
        <br>
        <input type="submit" value="Register">
    </form>
    <br>
    <a href="/login">Login</a>
</body>
</html>